  /* Estilos do Cabeçalho */
  ion-header {
    ion-toolbar {
      --background: var(--ion-color-primary);
      color: var(--ion-color-primary-contrast);
    }
  }
  
.botao-logar{
    text-align: right;
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 8px;
  }

  .custom-input {
    margin-top: 18px;
    border-radius: 12px;
    margin: 10px;
  }
  
  /* Estilos do Título */
.header {
    text-align: center;
    margin-top: 20px;
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    ion-text {
      i {
        font-style: italic;
      }
    }
  }