<ion-content [fullscreen]="true" class="reset-content">

  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-back-button default-href="#"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="header">
    <div class="title">Resetar Senha</div>
    <ion-text>Coloque Seu E-mail & <i>Resete sua senha</i> </ion-text>
  </div>   

    <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="12" size-lg="6">
      <form>
      
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size-lg="6">
            <ion-item class="custom-input" color="secondary">
              <ion-input color="primary" label-placement="floating" label="E-mail" name="email" ngModel  type="email" placeholder="email@domain.com"></ion-input>
              <ion-icon color="tertiary" slot="end" name="mail-outline"></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row> 

      </form>
    </ion-col>
    </ion-row>

    <div class="botao-logar">
      <ion-button shape="round" class="left-align">Enviar E-mail</ion-button>
    </div>

</ion-content>
