<ion-header>
  <ion-toolbar color="primary">
    <!-- Linha 1: Quinzena /////////////////////////////////////////////////////// -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

      <ion-row>
        <ion-segment [(ngModel)]="funcionarioSelecionado" (ionChange)="selecionarFuncionario()" *ngIf="mostrarSegmentFuncionario">
          <ion-segment-button *ngFor="let funcionario of funcionarios" [value]="funcionario">
            {{ funcionario }}
          </ion-segment-button>
        </ion-segment>
      </ion-row>

    <div class="funcionario-nome">
      {{ funcionarioSelecionado || funcionarios[0] }}
    </div>

    <ion-buttons slot="end">
      <ion-button  (click)="abrirSelectFuncionario()">
        <ion-icon name="chevron-down"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar color="secondary"> 
 
<ion-buttons class="quinzena">
  <ion-button (click)="anteriorQuinzena()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <ion-label class="quinzena-nome">{{ Quinzena }}</ion-label>
  <ion-button (click)="proximaQuinzena()">
    <ion-icon name="arrow-forward"></ion-icon>
  </ion-button>
</ion-buttons>
</ion-toolbar>

<ion-row class="ion-align-items-center ion-justify-content-center custom-row">
  <ion-col size="10">
    <!-- Container com informações gerais -->
    <ion-card class="card-margin">
      <ion-card-header class="ion-card-header">
        <ion-card-title>Resumo</ion-card-title>
        <ion-card-subtitle>Dias trabalhados</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let info of Faltas">
            <p>{{ info.titulo }}: {{ info.valor }}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

</ion-col>
</ion-row>
  
  <ion-row class="ion-align-items-center ion-justify-content-center custom-row">
    <ion-col size="10">
    <ion-card class="card-margin">

      <ion-card-header class="ion-card-header">
        <ion-card-title>Geral</ion-card-title>
        <ion-card-subtitle>Atividades Gerais</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="content-2">
        <ion-list>
          <ion-item *ngFor="let atividade of atividadesGerais">
            <p>{{ atividade.nome }}: {{ atividade.valor }}</p>
          </ion-item>
        </ion-list>
        
        <ion-row class="ion-align-items-center ion-justify-content-center ">
          <ion-button color="tertiary" class="botao-atividade" (click)="setOpen(true)">Atividades<ion-icon name="chevron-down-outline"></ion-icon></ion-button>
        </ion-row>

      </ion-card-content>
    </ion-card>    
  </ion-col>
</ion-row>

<!-- atividades-modal.page.html -->

<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>


      <ion-toolbar color="primary"> 

        
        
      <ion-buttons slot="start" class="back-butonn">
        <ion-button fill="clear" color="tertiary" (click)="setOpen(false)">  <ion-icon name="arrow-back-circle-outline" size="large"></ion-icon></ion-button>
      </ion-buttons>

     <ion-buttons class="quinzena">
        <ion-button (click)="anteriorQuinzena()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-label class="quinzena-nome">{{ Quinzena }}</ion-label>
        <ion-button (click)="proximaQuinzena()">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-toolbar color="secondary">
        <ion-segment color="primary" [scrollable]="true" value="heart">
          <ion-segment-button value="primavera">
            primavera
          </ion-segment-button>
          <ion-segment-button value="matao">
            matao
          </ion-segment-button>
          <ion-segment-button value="vileiro">
            vileiro
          </ion-segment-button>
          <ion-segment-button value="acacia">
            acacia
          </ion-segment-button>
          <ion-segment-button value="enxovia">
            enxovia
          </ion-segment-button>
          <ion-segment-button value="sta-lucia">
            sta-lucia
          </ion-segment-button>
          <ion-segment-button value=" bela-vista">
            bela-vista
          </ion-segment-button>
          <ion-segment-button value="nsa">
            nsa
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    
    </ion-header>
    <ion-content class="ion-padding">

      <ion-row class="ion-align-items-center ion-justify-content-center custom-row">
        <ion-col size="11">
      <ion-card class="card-margin">
        <ion-card-content class="content-2">
      <ion-list>
        <ion-list-header>Atividades Realizadas</ion-list-header>
        <ion-item *ngFor="let atividade of Atividades">
          <ion-label>{{ atividade.name }}</ion-label>
          <ion-input [(ngModel)]="atividade.value" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-col>
</ion-row>
      
  <ion-row class="ion-align-items-center ion-justify-content-center custom-row">
    <ion-col size="11">
      <ion-card class="card-margin">
        <ion-card-content class="content-2">
      <ion-list  *ngIf="atividadesNaoRealizadas.length > 0">
        <ion-list-header>Atividades Não Realizadas</ion-list-header>
        <ion-item *ngFor="let atividade of atividadesNaoRealizadas">
          <ion-label>{{ atividade.name }}</ion-label>
          <ion-input [(ngModel)]="atividade.value" type="number"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>

      <!-- Adicione a seção de atividades não realizadas -->


  <ion-button  color="tertiary" (click)="saveData()">Salvar</ion-button>


    </ion-content>
  </ng-template>
</ion-modal>



</ion-content>