.quinzena-nome{
    text-align: center;
    font-size: 18px;
  }
  .funcionario-nome {
    text-align: center;
    font-size: 20px;
  }
  .quinzena{
    text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;

  }
  .card-container {
    margin-top: 20px; /* Espaçamento vertical entre os cards */
    margin-bottom: 25px;
  }
  
.ion-card-header{
  margin: 10px  0 8px 10px;
}

  .back-butonn{
    margin: 8px;
  }
  .custom-row{
    margin: 20px 0 20px 0;
  }
.botao-atividade{
  margin-top: 14px;
  margin: 6px;
}
.lista{

}