<ion-header>
  <ion-toolbar color="primary">

<!-- Ícone de menu -->
    <ion-buttons  slot="start">
      <ion-menu-button  menu="main-menu">
      </ion-menu-button>
    </ion-buttons>

    <!-- Ícone de seta para o sítio anterior -->
    <ion-buttons  slot="start">
      <ion-button  (click)="sitioAnterior()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Segmento para selecionar sítios -->
    <ion-grid>
      <ion-row>
        <ion-segment [(ngModel)]="sitioSelecionado" (ionChange)="selecionarSitio()" *ngIf="mostrarSegment">
          <ion-segment-button *ngFor="let sitio of sitios | keyvalue" [value]="sitio.key">
            {{ sitio.key }}
        </ion-segment-button>        
        </ion-segment>
      </ion-row>
    </ion-grid>

    <!-- Nome do sítio selecionado -->
    <div class="sitio-nome" *ngIf="!mostrarSegment">
      {{ sitioSelecionado }}
    </div>

    <!-- Ícone de seta para o próximo sítio -->
    <ion-buttons slot="end">
      <ion-button (click)="proximoSitio()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Ícone de pesquisa -->
    <ion-buttons slot="primary">
      <ion-button  (click)="abrirSelect()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
     <ion-row *ngIf="sitioSelecionado === 'matao'"  class="segment-content">
      
      <ion-header>
        <ion-toolbar color="secondary">
          <!-- Seletor de quadras -->
          <ion-segment [(ngModel)]="quadraSelecionada" (ionChange)="selecionarQuadra()" *ngIf="mostrarSegmentQuadra">
            <ion-segment-button *ngFor="let quadra of quadrasPrimavera" [value]="quadra">
              {{ quadra }}
            </ion-segment-button>
          </ion-segment>
    
          <!-- Nome do sítio selecionado -->
          <div class="quadra-nome" *ngIf="!mostrarSegment">
            {{ quadraSelecionada }}
          </div>
    
          <!-- Ícone de pesquisa -->
          <ion-buttons slot="primary">
            <ion-button color="primary" (click)="abrirSelectQuadraPrimavera()">
              <ion-icon name="chevron-down"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    
      <!-- Lista de quadras e ramais -->
      <ng-container *ngFor="let quadraInfo of quadrasComRamaisPrimavera">
        <ion-list *ngIf="quadraSelecionada === quadraInfo.quadra">
          <ng-container *ngFor="let ramal of quadraInfo.ramais; let i = index">
            <ion-row class="ion-justify-content-center ion-align-items-center">

              <ion-col>
                <div class="item-ramal">
                  <ion-text>Ramal {{ i + 1 }}</ion-text>
                </div>
              </ion-col>
    
              <ion-col>
                <ion-item class="item-padrao no-padding-item">
                  <ion-label class="small-label" position="stacked">N</ion-label>
                  <ion-input class="small-input" [(ngModel)]="ramal.valorN" name="valorN" maxlength="4" type="text" inputmode="numeric" pattern="[0-9]*"></ion-input>
                </ion-item>
              </ion-col>
    
              <ion-col>
                <ion-item class="no-padding-item item-padrao">
                  <ion-label class="small-label" position="stacked">V</ion-label>
                  <ion-input class="small-input" [(ngModel)]="ramal.valorV" name="valorV" maxlength="4" type="text" inputmode="numeric" pattern="[0-9]*"></ion-input>
                </ion-item>
              </ion-col>
    
              <ion-col>
                <ion-item class="item-padrao no-padding-item">
                  <ion-label class="small-label" position="stacked">F</ion-label>
                  <ion-input class="small-input" [(ngModel)]="ramal.valorF" name="valorF" maxlength="4" type="text" inputmode="numeric" pattern="[0-9]*"></ion-input>
                </ion-item>
              </ion-col>
    
              <ion-col>
                <ion-item class="item-padrao no-padding-item">
                  <ion-label class="small-label" position="stacked">SECA</ion-label>
                  <ion-input class="small-input" [(ngModel)]="ramal.valorSECA" name="valorSECA" maxlength="4" type="text" inputmode="numeric" pattern="[0-9]*"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-list>
      </ng-container>

    </ion-row>
    
    <ion-row *ngIf="sitioSelecionado === 'vileiro'" class="segment-content">
      <!-- Conteúdo para o sítio Vileiro -->
    </ion-row>
    
    <ion-row *ngIf="sitioSelecionado === 'acacia'" class="segment-content">
      <!-- Conteúdo para o sítio Acacia -->
    </ion-row>
    
    <!-- Conteúdo para o sítio Primavera //////////////////////////////////////////////////////////////// -->
 
    <ion-row *ngIf="sitioSelecionado === 'primavera'" class="segment-content">

      <ion-header>
        <ion-toolbar color="secondary">
          <!-- Seletor de quadras -->
          <ion-segment [(ngModel)]="quadraSelecionada" (ionChange)="selecionarQuadra()" *ngIf="mostrarSegmentQuadra">
            <ion-segment-button *ngFor="let quadra of quadrasPrimavera" [value]="quadra">
              {{ quadra }}
            </ion-segment-button>
          </ion-segment>
    
          <!-- Nome do sítio selecionado -->
          <div class="quadra-nome" *ngIf="!mostrarSegment">
            {{ quadraSelecionada }}
          </div>
    
          <!-- Ícone de pesquisa -->
          <ion-buttons slot="primary">
            <ion-button color="primary" (click)="abrirSelectQuadraPrimavera()">
              <ion-icon name="chevron-down"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
    
      <!-- Lista de quadras e ramais -->
      <ng-container *ngFor="let quadraInfo of quadrasComRamaisPrimavera">
        <ion-list *ngIf="quadraSelecionada === quadraInfo.quadra">
          <ng-container *ngFor="let ramal of quadraInfo.ramais; let i = index">
            <ion-row class="ion-justify-content-center ion-align-items-center">

              <ion-col>
                <div class="item-ramal">
                  <ion-text>Ramal {{ i + 1 }}</ion-text>
                </div>
              </ion-col>
    
              <ion-col>
                <ion-item class="item-padrao no-padding-item">
                  <ion-label class="small-label" position="stacked">N</ion-label>
                  <ion-input class="small-input" [(ngModel)]="ramal.valorN" name="valorN" maxlength="4" type="text" inputmode="numeric" pattern="[0-9]*"></ion-input>
                </ion-item>
              </ion-col>
    
              <ion-col>
                <ion-item class="no-padding-item item-padrao">
                  <ion-label class="small-label" position="stacked">V</ion-label>
                  <ion-input class="small-input" [(ngModel)]="ramal.valorV" name="valorV" maxlength="4" type="text" inputmode="numeric" pattern="[0-9]*"></ion-input>
                </ion-item>
              </ion-col>
    
              <ion-col>
                <ion-item class="item-padrao no-padding-item">
                  <ion-label class="small-label" position="stacked">F</ion-label>
                  <ion-input class="small-input" [(ngModel)]="ramal.valorF" name="valorF" maxlength="4" type="text" inputmode="numeric" pattern="[0-9]*"></ion-input>
                </ion-item>
              </ion-col>
    
              <ion-col>
                <ion-item class="item-padrao no-padding-item">
                  <ion-label class="small-label" position="stacked">SECA</ion-label>
                  <ion-input class="small-input" [(ngModel)]="ramal.valorSECA" name="valorSECA" maxlength="4" type="text" inputmode="numeric" pattern="[0-9]*"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ng-container>
        </ion-list>
      </ng-container>
    </ion-row>
    
<!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->

    
    
    <!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->

    <ion-row *ngIf="sitioSelecionado === 'enxovia'" class="segment-content">
      <!-- Conteúdo para o sítio Enxovia -->
    </ion-row>
    
    <ion-row *ngIf="sitioSelecionado === 'sta-lucia'" class="segment-content">
      <!-- Conteúdo para o sítio Sta. Lucia -->
    </ion-row>
    
    <ion-row *ngIf="sitioSelecionado === 'bela-vista'" class="segment-content">
      <!-- Conteúdo para o sítio Bela Vista -->
    </ion-row>
    
    <ion-row *ngIf="sitioSelecionado === 'nsa'" class="segment-content">
      <!-- Conteúdo para o sítio NSA -->
    </ion-row>

  </ion-grid>
</ion-content>



