
 /* Estilos do Cabeçalho */
 ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
  }
}


/* Estilos do Título */
.header {
  text-align: center;
  margin-top: 20px;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  ion-text {
    i {
      font-style: italic;
    }
  }
}
  
  .custom-input {
    margin-top: 18px;
    border-radius: 12px;
    margin: 10px;
  }
  
  /* Estilos das Linhas "ou" */
  .custom-line {
    border: 1px solid;
    margin: 10px;
    margin-top: 80px;
  }
  
  .custom-divider {
    text-align: center;
    margin: 10px;
    margin-top: 80px;
  }
  
  /* Estilos dos Logos */
  .custom-logos {
    text-align: center;
  }

  /* Estilos do Link "Criar Conta" */
  .custom-create-account {
    display: flex;
    margin: auto;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    margin-bottom: 50px;
    a {
      font-weight: 700;
      text-decoration: none;
      color: var(--ion-color-tertiary); /* Usando a cor terciária para o link */
    }
  }
.esqueceu-senha{
    display: flex;
    justify-content: end;
    margin: 2px 7px 0 0 ;
    a{
        font-weight: 700;
        text-decoration: none;
    }
}
.botao-logar{
  text-align: right;
margin-top: 2px;
margin-right: 10px;
margin-bottom: 8px;
}