

<ion-header>
  <ion-toolbar color="primary">
    <!-- Linha 1: Quinzena /////////////////////////////////////////////////////// -->
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>

      <ion-button (click)="anteriorQuinzena()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

      <ion-label class="quinzena-nome">{{ Quinzena }}</ion-label>
      
      <ion-button (click)="proximaQuinzena()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Linha 2: Dia ///////////////////////////////////////////////////////// -->

  <ion-row>
    <ion-col>
      <ion-buttons class="botao-dia" color="secondary">
        <ion-button (click)="anteriorDia()" slot="start">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
        <ion-label class="dia-nome">{{ dia }}</ion-label>
        <ion-button (click)="proximoDia()" slot="end">
          <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button (click)="abrirCalendario()">
          <ion-icon name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>


<!-- conteudo de vdd -->
<ion-row class="ion-align-items-center ion-justify-content-center custom-row">
  <ion-col>
    
<form class="form-container">

    <ion-row class="ion-align-items-center ion-justify-content-center custom-row">
      <ion-col size="4">
        <ion-label>Funcionário:</ion-label>
      </ion-col>
    
      <ion-col size="7">
            <ion-select  justify="end" class="always-flip" toggleIcon="caret-down-sharp" interface="popover" placeholder="Selecione funcionario" (ionChange)="setFuncionario($event)">
              <ng-container *ngFor="let funcionario of this.dados.funcionarios">
                 <ion-select-option value="{{funcionario.nome}}">{{funcionario.nome}}</ion-select-option>
              </ng-container>
            </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center custom-row">
      <ion-col size="4">
        <ion-label>Sitio:</ion-label>
      </ion-col>
    
      <ion-col size="7">
            <ion-select justify="end" class="always-flip" toggleIcon="caret-down-sharp" interface="popover" placeholder="Selecione sitio" (ionChange)="setSitio($event)" >
              <ng-container *ngFor="let sitio of this.dados.sitios">
                <ion-select-option value="{{sitio.nome}}">{{sitio.nome}}</ion-select-option>
             </ng-container>
            </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center custom-row">
      <ion-col size="4">
        <ion-label>Quadras:</ion-label>
      </ion-col>
    
      <ion-col size="7">
            <ion-select justify="end" class="always-flip" toggleIcon="caret-down-sharp" interface="popover" placeholder="Selecione quadra" (ionChange)="setQuadra($event)">
              <ng-container *ngFor="let sitio of this.dados.sitios">
                <ng-container *ngIf="this.sitio_selecionado == sitio.nome">
                  <ng-container *ngFor="let quadra of sitio.quadras">
                    <ion-select-option value="{{quadra.numero}}">{{quadra.numero}}</ion-select-option>
                  </ng-container>
                </ng-container>
             </ng-container>
            </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center custom-row">
      <ion-col size="4">
        <ion-label>ramal:</ion-label>
      </ion-col>
    
      <ion-col size="7">
            <ion-select justify="end" class="always-flip" toggleIcon="caret-down-sharp" interface="popover" placeholder="Selecione ramal">
              <ng-container *ngFor="let sitio of this.dados.sitios">
                <ng-container *ngIf="this.sitio_selecionado == sitio.nome">
                  <ng-container *ngFor="let quadra of sitio.quadras">
                    <ng-container *ngIf="this.quadra_selecionada == quadra.numero">
                      <ng-container *ngFor="let ramal of quadra.ramal">
                        <ion-select-option value="{{ramal.numero}}">{{ramal.numero}}</ion-select-option>
                      </ng-container>
                    </ng-container>
                    
                  </ng-container>
                </ng-container>
             </ng-container>
            </ion-select>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center custom-row">
      <ion-col size="4">
        <ion-label>produção:</ion-label>
      </ion-col>
    
      <ion-col size="7">
   
        <ion-select justify="end" class="always-flip" toggleIcon="caret-down-sharp" interface="popover" placeholder="Selecione produção" (ionChange)="setProducao($event)">
          <ion-select-option value="arvores">estrias</ion-select-option>
          <ion-select-option value="atividade_diaria">Atividade</ion-select-option>
        </ion-select>
  
      </ion-col>
    </ion-row>
    
    <!-- Árvores e Corte -->
    
    <ion-row class="ion-align-items-center ion-justify-content-center custom-row" *ngIf="this.producao === 'arvores'">
      <ion-col size="4">
        <ion-label>corte:</ion-label>
      </ion-col>
    
      <ion-col size="7">
        <ion-select justify="end" class="always-flip" toggleIcon="caret-down-sharp" interface="popover" placeholder="Selecione produção">

            <ng-container *ngFor="let corte of this.dados.producao.cortes">
               <ion-select-option value="{{corte.nome}}">{{corte.nome}}</ion-select-option>
            </ng-container>

        </ion-select>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-align-items-center ion-justify-content-center custom-row" *ngIf="this.producao === 'arvores'">
      <ion-col size="4">
        <ion-label>Árvores:</ion-label>
      </ion-col>
    
      <ion-col size="7">
        <ng-container *ngFor="let arvore of this.dados.producao.Arvores; let i = index">
          <ion-input class="ion-text-end" label-placement="end" placeholder="Quantidade de Árvores" type="number" [(ngModel)]="dados.producao.Arvores[i].quantidade"></ion-input>
        </ng-container>
      </ion-col>

</ion-row>

    
    <!-- Atividade Diária -->

    <ion-row class="ion-align-items-center ion-justify-content-center custom-row" *ngIf="this.producao === 'atividade_diaria'">
      <ion-col size="4">
        <ion-label>Atividade Diária:</ion-label>
      </ion-col>
    
      <ion-col size="7">
        <ion-select justify="end" class="always-flip" toggleIcon="caret-down-sharp" interface="popover" placeholder="Selecione produção">

            <ng-container *ngFor="let atividade of this.dados.producao.atividade_diaria">
               <ion-select-option value="{{atividade.nome}}">{{atividade.nome}}</ion-select-option>
            </ng-container>

          </ion-select>
      </ion-col>
    </ion-row>


    <div class="botao-enviar">
      <ion-button size="medium" color="tertiary"  (click)="salvar()">
        enviar
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
      </div>

      <!-- <ion-button (click)="criarDados()">API</ion-button>
      <ng-container *ngFor="let dado of this.dados_do_usuario">
        <h1>ID: {{ dado.id }}</h1>
        <h1>ID: {{ dado.campos.nome }}</h1>
      </ng-container> -->
   



  </form>
</ion-col>
</ion-row>
  <!-- Adicione seções semelhantes para outros dias -->

</ion-content>


<!-- <ion-row class="ion-justify-content-center">
  <ion-col size="4">
      <ion-button expand="full" size="medium" color="tertiary"  (click)="salvar()">
        enviar
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-col>
    </ion-row> -->